*{
    margin: 0px;
    padding: 0px;
}

::selection {
    background: #000000;
}

::-moz-selection {
    background: #000000;
}
::-ms-selection {
    background: #000000;
}
::-webkit-selection {
    background: #000000;
}

/*fonts fot all browsers*/
@font-face {
    font-family: ft_book;
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ft_book;
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: ft_medium;
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: ft_medium;
    src: url(../fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: ft_heavy;
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Heavy.woff') format('woff'),
    url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: ft_heavy;
    src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
    font-family: ft_extrabold;
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: ft_extrabold;
    src: url(../fonts/FuturaPTExtraBold.otf);
}

body {
    background: url(../images/video_backup.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: bebas, sans-serif;
}

#video_filter {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.8;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    /*grays filter !doesnt work on IE ver older than 9*/
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: url('../images/gray.svg#grayscale'); /* should work but it doesn't */
}
a{
    z-index: 999;
    text-decoration: none;
    cursor: pointer;
    /*color: white;*/
    /*background-color: transparent;*/
}

.container{
    overflow-y: hidden;
    position: relative;
    margin-top:-22%;
}
.row{
    padding-bottom: 3%;
}

.section1{
    z-index: 999;
    position: relative;
    visibility: hidden;
    display: inline-block;
    text-align: justify ;
}
.section2{
    visibility: hidden;
    display: inline-block;
    text-align: justify ;
}
.section3{
    visibility: hidden;
    display: inline-block;
    text-align: justify ;
}
.section4{
    visibility: hidden;
}

.section_title{
    color: #b9964d ;
    font-size: 36px;
    font-family: ft_heavy;
    text-align: center;
}
.section_text{
    font-family: ft_book;
    color: white ;
    font-size: 18px;

}

.title{
    visibility: hidden;
    color: #b9964d ;
    font-size: 48px;
    text-align: center;
    font-family: ft_extrabold;
}

.title_contact{
    color: #b9964d ;
    font-size: 38px;
    text-align: center;
    font-family: ft_heavy;
}

.text_contact{
    color: white ;
    font-size: 20px;
    font-family: ft_book;;
    text-align: center;
}

img{
    height: 220px;
}

.logo{
    text-align: center;
    position: relative;
    -webkit-animation: slideToTopLeft 5s linear 1s;
    -moz-animation: slideToTopLeft 5s linear 1s;
    -ms-animation : slideToTopLeft 5s linear 1s;
    -o-animation: slideToTopLeft 5s linear 1s;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.logo_text{
    text-align: center;
    color: #b9964d;
    margin-top: 2%;
    font-size: 36px;
    z-index: 3;
    position: relative;
    cursor: pointer;
    font-family: ft_medium;
}

.animated {
    visibility: visible !important;
}

.start{
    margin-top: 15%;
    z-index: 5;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color: #b9964d ;
}
/*ANIMATION LOAD*/

/*mozilla firefox */
@-moz-keyframes slideToTopLeft {
    0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
    100% { transform: translateY(-85%) translateX(-40%) scale(0.4); }
}
/*opera*/
@-o-keyframes slideToTopLeft {
    0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
    100% { transform: translateY(-85%) translateX(-40%) scale(0.4); }
}
/*ie*/
@-ms-keyframes slideToTopLeft {
    0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
    100% { transform: translateY(-85%) translateX(-40%) scale(0.4); }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideToTopLeft {
    0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
    100% { transform: translateY(-85%) translateX(-40%) scale(0.4); }
}
/* Standard */
@keyframes slideToTopLeft {
    0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
    100% { transform: translateY(-85%) translateX(-40%) scale(0.4); }
}

/*RESPONSIVE FOR PHONES AND TABLETS*/
/*iphone 5 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    img{
        height:180px;
    }
    .start{
        margin-top: 40%;
    }
    .container{
        margin-top: -75%;
    }
    .title{
        font-size:30px;
    }
    .section_title{
        font-size:20px;
    }
    .section_text{
        font-size: 12px;
    }
    .section4{
        padding-top: 5%;
    }
    .title_contact{
        font-size:30px;
    }
    .text_contact {
        font-size: 12px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-85%) translateX(-30%) scale(0.3); }
    }
}
/*iphone 5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    img{
        height: 180px;
    }
    .start{
        margin-top: 10%;
    }
    .container{
        margin-top: -50%;
    }
    .title{
        font-size:30px;
    }
    .sec{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    .section_title{
        font-size:20px;
    }
    .section_text{
        font-size: 12px;
    }
    .title_contact{
        font-size: 30px;
    }
    .text_contact {
        font-size: 12px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-60%) translateX(-35%) scale(0.3); }
    }
}
/*iphone 6 portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    img{
        height:180px;
    }
    .start{
        margin-top: 50%;
    }
    .container{
        margin-top: -75%;
    }
    .title{
        font-size:36px;
    }
    .sec{
        padding-bottom: 2%;
    }
    .section_title{
        font-size:26px;
    }
    .section_text{
        font-size: 16px;
    }
    .section4{
        padding-top: 5%;
    }
    .title_contact{
        font-size:36px;
    }
    .text_contact {
        font-size: 19px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-110%) translateX(-30%) scale(0.4); }
    }
}
/*iphone 6 landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    img{
        height: 180px;
    }
    .start{
        margin-top: 10%;
    }
    .container{
        margin-top: -40%;
    }
    .title{
        font-size:36px;
    }
    .sec{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    .section4{
        margin-top: 2%;
    }
    .section_title{
        font-size:26px;
    }
    .section_text{
        font-size: 16px;
    }
    .title_contact{
        font-size: 36px;
    }
    .text_contact {
        font-size: 18px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-55%) translateX(-33%) scale(0.4); }
    }
}
/*!*iphone 6+ portrait*!*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (device-width : 414px) and (device-height : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) and (-webkit-device-pixel-ratio : 3) {
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-130%) translateX(-33%) scale(0.4); }
    }
}
/*!*iphone 6+ landscape*!*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3){
    img{
        height: 180px;
    }
    .start{
        margin-top: 10%;
    }
    .container{
        margin-top: -35%;
    }
    .title{
        font-size:36px;
    }
    .sec{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    .section4{
        margin-top: 2%;
    }
    .section_title{
        font-size:26px;
    }
    .section_text{
        font-size: 16px;
    }
    .title_contact{
        font-size: 36px;
    }
    .text_contact {
        font-size: 18px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-55%) translateX(-33%) scale(0.4); }
    }
}
/*ipad portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {

    img{
        height:240px;
    }
    .start{
        margin-top: 50%;
    }
    .container{
        margin-top: -60%;
    }
    .title{
        font-size:60px;
    }
    .sec{
        padding-bottom: 2%;
    }
    .section_title{
        font-size:42px;
    }
    .section_text{
        font-size: 24px;
    }
    .section4{
        padding-top: 10%;
    }
    .title_contact{
        font-size:50px;
    }
    .text_contact {
        font-size: 30px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-160%) translateX(-30%) scale(0.6); }
    }

}
/*ipad landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
    img{
        height: 240px;
    }
    .title{
        font-size: 60px;
        margin-top: -10%;
    }
    .container{
        margin-top: -25%;
    }
    .section_title{
        font-size: 40px;
    }
    .section_text{
        font-size: 26px;
    }
    .section4{
        padding-top: 5%;
    }
    .title_contact{
        font-size:60px;
    }
    .text_contact{
        font-size: 30px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-75%) translateX(-40%) scale(0.5); }
    }
}
/* ipad pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    img{
        height: 300px;
    }
    .logo_text{
        font-size: 50px;
    }
    .title{
        font-size:70px;
        padding-bottom: 10%;
    }
    .section_title{
        font-size: 55px;
    }
    .section_text{
        font-size: 28px;
    }
    .start{
        margin-top: 50%;
    }
    .container{
        margin-top: -60%;
    }
    .title_contact{
        font-size:70px;
    }
    .text_contact{
        font-size: 36px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-160%) translateX(-30%) scale(0.5); }
    }
}
/* ipad pro landscape */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    img{
        height: 300px;
    }
    .logo_text{
        font-size: 50px;
    }
    .title{
        font-size:70px;
        padding-bottom: 5%;
    }
    .section_title{
        font-size: 55px;
    }
    .section_text{
        font-size: 28px;
    }
    .start{
        margin-top: 20%;
    }
    .container{
        margin-top: -40%;
    }
    .section4{
        padding-top: 10%;
    }
    .title_contact{
        font-size:70px;
    }
    .text_contact{
        font-size: 36px;
    }
    @keyframes slideToTopLeft {
        0%   { left:0px; top:0px; -webkit-transform: scale(1.0) }
        100% { transform: translateY(-100%) translateX(-40%) scale(0.5); }
    }
}